# ===============================
# Maven build
# ===============================
target/

# ===============================
# Test execution outputs
# ===============================
test-output/
logs/
screenshots/

# ===============================
# Eclipse IDE
# ===============================
.classpath
.project
.settings/

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Logs
# ===============================
*.log
